extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home-page.css")
  //- add page specific js
  script(src="/javascripts/home-action.js" type="module" defer)

block content
  div(class="sidebar")
    div(id="link-1")
      h3 Placeholder
    div(id="link-2")
      h3 Placeholder 
    div(id="link-3")
      h3 Placeholder 
  div(class="body-content") 
    h1 Home Page
    p Welcome to your Project Skeleton
  
      
