extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  script(src="/javascripts/demo-login.js" type="module" defer)

block content
    if errors
        div(class="error-list")
            each error in errors
                p #{error}
    div(class="grid-container")
        div: img(src="/kettle.png" class="login-header")
        div(class="form-box")
            form(action="/users/login" method="post" id="login-form")
                input(type="hidden" name="_csrf" value=csrfToken)
                div(class="username-entry")
                    div: label(for="username") Username
                    div: input(type="text" name="username" size=30)
                div(class="password-entry")
                    div: label(for="password") Password
                    div: input(type="password" name="password" size=30)
            div(class="buttons-div")
                div: button(type="submit" form="login-form" id="main-login-button") Log in
                div: button(type="button" class="demo-user-button") Demo User
        div(class="switch-link"): a(href="/users/signup") Need to sign up?
