extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login-signup.css")
  script(src="/javascripts/demo-login.js" type="module" defer)

block content
    if errors
        div(class="error-list")
            each error in errors
                p #{error}
    div(class="grid-container")
        div: img(src="/kettle.png" class="login-header")
        div(class="form-box")
            form(method="post" action="/users/signup" id="signup-form")
                input(type="hidden" name="_csrf" value=csrfToken)
                div(class="username-entry")
                    label(for="username") Username
                    input(type="text" name="username" size=30)
                div(class="email-entry")
                    label(for="email") Email
                    input(type="email" name="email" size=30)
                div(class="password-entry")
                    label(for="password") Password
                    input(type="password" name="password" size=30)
                div(class="confirm-entry")
                    label(for="confirmPassword") Confirm Password
                    input(type="password" name="confirmPassword" size=30)
            div(class="buttons-div")
                div: button(type="submit" form="signup-form" id="main-signup-button") Sign Up
                form(action="/users/demo" method="post" id="demo-form")
                    div: button(type="submit" class="demo-user-button") Demo User
        div(class="switch-link"): a(href="/users/login") Already have an account?
