append head
    script(src="/javascripts/voting-action.js" type="module" defer)

mixin qUpvote
    div(class='question-upVoteTally')
    div(id="question-up-vote") 🔼

mixin qDownvote
    div(class='question-downVoteTally')
    div(id="question-down-vote") 🔽

mixin aUpvote
    div(class='answer-upVoteTally')
    div(id="answer-up-vote") 🔼

mixin aDownvote
    div(class='answer-downVoteTally')
    div(id="answer-down-vote") 🔽
