append head
    script(src="/javascripts/voting-action.js" type="module" defer)

mixin qUpvote
    div(class='question-upVoteTally')
    div(id="question-up-vote") 🔼

mixin qDownvote


mixin aUpvote


mixin aDownvote
