.sidebar {
    width: 250px;
    padding: 0px;
    background-color: #cc8c52;
    opacity: 70%;
    position: fixed;
    height: 70%;
    overflow: auto;
}

#link-1,
#link-2,
#link-3 {
    text-align: center;
    padding: 30px;
    color: black;
}

.body-content {
    margin-left: 250px;
    padding: 10px 15px;
    text-align: center;
}