extends layout

append head
    link(rel="stylesheet" href="/stylesheets/about.css")

block content
    div(class="container")
        p(class='info') Kettle Overflow is a website that allows someone interested in learning more about tea to ask questions and get answers from others.
        div(class="developer-info")
            h1 Social Media Links For Each Developer
            div(class="developer")
                h1 Sarah
                    ul
                        li #[a( href='https://github.com/boothjacobs' ) GitHub]
                        li #[a( href='https://www.linkedin.com/in/sarah-jacobs-53433923/' ) LinkedIn]
            div(class="developer")
                h1 Drew
                    ul
                        li #[a( href='https://github.com/drewlong314' ) GitHub]
                        li #[a( href='https://www.linkedin.com/in/drew-long-361772172/' ) LinkedIn]
            div(class="developer")
                h1 Lauren
                    ul
                        li #[a( href='https://github.com/laurengus17' ) GitHub]
                        li #[a( href='https://www.linkedin.com/in/lauren-gustafson-7b8877b3/' ) LinkedIn]
        p(class='info') Seed data from #[a( href='https://www.harney.com/pages/this-is-tea') https://www.harney.com/pages/this-is-tea]
