extends layout

append head
    link(rel="stylesheet" href="/stylesheets/about.css")

block content
    div(class="container")
        p(class='info') Kettle Overflow encourages tea enthusiasts everywhere to ask and answer tea related questions.
        div(class="developer-info")
            h1 Meet the Developers 

            div(class="developer" id="sarah")
                h1(id="sarah-name") Sarah
                    ul(id="sarah-list")
                        li #[a( href='https://github.com/boothjacobs' ) GitHub]
                        li #[a( href='https://www.linkedin.com/in/sarah-jacobs-53433923/' ) LinkedIn]
            div(class="developer" id="drew")
                h1(id="drew-name") Drew
                    ul(id="drew-list")
                        li #[a( href='https://github.com/drewlong314' ) GitHub]
                        li #[a( href='https://www.linkedin.com/in/drew-long-361772172/' ) LinkedIn]
            div(class="developer" id="lauren")
                h1(id="lauren-name") Lauren
                    ul(id="lauren-list")
                        li #[a( href='https://github.com/laurengus17' ) GitHub]
                        li #[a( href='https://www.linkedin.com/in/lauren-gustafson-7b8877b3/' ) LinkedIn]
        p(class='info') Seed data from #[a( href='https://www.harney.com/pages/this-is-tea') https://www.harney.com/pages/this-is-tea]
