extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home-page.css")
  //- add page specific js
  script(src="/javascripts/home-action.js" type="module" defer)

block content
  div(class="sidebar")
    div(id="link-1")
      h3 Placeholder
    div(id="link-2")
      h3 Placeholder
    div(id="link-3")
      h3 Placeholder
  div(class="body-content")
    h1 Home Page
    p Welcome, Have A Cuppa
  table(class="questions-table")
    thead(class="head-questions-table")
      tr
        th(id="User-Table") User
        th(id="Question-Table") Question
    tbody(class="questions-table-body")
      each question in questions
        tr(id="to-hover")
          td(id="usernames")
            a(id="question-body__anchor" href=`http://localhost:8080/questions/${question.id}`)= question.User.username
          td(id="question-body")
            a(id="question-body__anchor" href=`http://localhost:8080/questions/${question.id}`)= question.content
