doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/layout.css")
       
  div
    nav(class="navbar")
      div(class="logo-section")
        img(src="/kettle.png" id="kettle-image")
        a(href="/" id="kettle-overflow") Kettle Overflow
      div(class="search")
        form(action="/questions" method="post")
          input(type="text" placeholder="Search..." id="search-bar" name="content")
          button(type="submit" id="submit-search") Submit
      div(id="logout-button")
        if locals.authenticated
          a(href="/users/login" id="logout-link") Log Out
        else
          div(id="login-button")
            a(href="/users/login" id="login-link") Log In
          div(id="signup-button")
            a(href="/users/signup" id="logout-link") Sign Up
    div
      div(class="footer")
        div(class="made-by")
          h3 Brewed Up By #[a( href='https://github.com/boothjacobs') Sarah], #[a( href='https://github.com/drewlong314') Drew], & #[a( href='https://github.com/laurengus17') Lauren]

    block content
