extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question-form.css")

block content
     form(class='question-form' action="/questions", method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            textarea(name="content", cols="30", rows="10" placeholder="Write you question here!")
        div
            button(type="submit" id="submit-question") Submit Question
