//- i think these are mixins

UpVoteButton 🔼
//- makes an API call to /questions/:id/upVotes--
    //- if a logged in user clicks, call to database to see if there is a vote by that user
            await QuestionVote.findOne({ where: { userId: {req.session.auth.userId} }})
        if (!vote), posts to create a new QuestionVote with a value of true.
        if (vote), removes vote and updates count
    //- makes a database query to count QuestionVotes where upVote = true, updates UpVote.div.innerHTML with that value
    const tally = await QuestionVote.count({
        where: {
            upVote: true
        }
//- });
    //- if (!res.locals.authenticated) tries to click, hover is NO

DownVoteButon 🔽
//- makes an API call to /questions/:id/upVotes--
    //- if a logged in user clicks, call to database to see if there is a vote by that user
        if (!vote), posts to create a new QuestionVote with a value of true.
        if (vote), removes vote and updates count
    //- makes a database query to count QuestionVotes where upVote = false, updates downVote.div.innerHTML with that value
    //- if an unauthenticated user tries to click, hover is NO

UpVoteButton 🔼
//- makes an API call to /answers/:id/upVotes--
    //- if a logged in user clicks, call to database to see if there is a vote by that user
        if (!vote), posts to create a new AnswerVote with a value of true.
        if (vote), removes vote and updates count
    //- makes a database query to count AnswerVotes where upVote = true, updates UpVote.div.innerHTML with that value
    //- if an unauthenticated user tries to click, hover is NO

DownVoteButon 🔽
//- makes an API call to /answers/:id/upVotes--
    //- if a logged in user clicks, call to database to see if there is a vote by that user
        if (!vote), posts to create a new AnswerVote with a value of true.
        if (vote), removes vote and updates count
    //- makes a database query to count AnswerVotes where upVote = false, updates downVote.div.innerHTML with that value
    //- if an unauthenticated user tries to click, hover is NO
