.sidebar {
    width: 250px;
    padding: 0px;
    background-color: #cc8c52;
    opacity: 70%;
    position: fixed;
    height: 70%;
    overflow: auto;
}

#link-1,
#link-2,
#link-3 {
    text-align: center;
    padding: 30px;
    color: black;
}

.body-content {
    margin-left: 250px;
    padding: 10px 15px;
    text-align: center;
}

.questions-table {
    margin-left: 300px;
    margin-right: 50px;
    padding: 20px;
    width: 700px;
    text-align: center;
}

.head-questions-table {
    text-align: center;
    padding: 40px;
}

.questions-table-body {
    text-align: center;
    padding: 40px;
}

#User-Table,
#Question-Table,
#usernames,
#question-body {
    border-bottom: 1px solid #A9A454;
}

#usernames:hover,
#question-body:hover {
    background-color: #556B2F;
    color: #EFE4D4;
}