.question-body {
    background-color: #EFE4D4;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

#page-container {
    /* padding-top: 2%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#question-box {
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 10%;
    width: 40%;
    background-color: white;
    border: solid 1px #A9A454;
    margin: 1%;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    border-top: black 1px solid;
    padding: 2px;
}

.edit {
    height: 10%;
    width: 10%;
    align-self: flex-end;
}

.created-by {
    text-align: end;
    margin: 0;
}

#question-extra {
    padding: 1%;
    height: 10%;
    width: 40%;
    background-color: white;
    border: solid 1px #A9A454;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

.edit-text-area {
    resize: none;
    height: 10%;
    font-size: 1rem;
}

.edit-submit {
    height: 10%;
    width: 12%;
    margin-top: 2px;
    align-self: flex-start;
}

#redirect {

    box-sizing: border-box;
    /* padding-top: 5%; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#answer-box {
    margin: 5px;
}

.answer-form {
    padding: 20px;
}

.answer-form-textarea {
    text-align: center;
    font-size: 15px;
    outline: none;
}

#submit-answer {
    background-color: #b07946;
    border: 1px solid grey;
    cursor: pointer;
    height: 25px;
    font-size: 15px;
}

#submit-answer:hover {
    color: #EFE4D4;
    background-color: #A9A454;
}

.edit-answer {
    background-color: #b07946;
    border: 1px solid grey;
    cursor: pointer;
    height: 25px;
    font-size: 15px;

}

.edit-answer:hover {
    color: #EFE4D4;
    background-color: #A9A454;
}

.delete-answer {
    background-color: #b07946;
    border: 1px solid grey;
    cursor: pointer;
    height: 25px;
    font-size: 15px;
    margin: 5px;
}

.delete-answer:hover {
    color: #EFE4D4;
    background-color: #A9A454;
}

.edit {
    background-color: #b07946;
    border: 1px solid grey;
    cursor: pointer;
    height: 25px;
    font-size: 15px;
}

.edit:hover {
    color: #EFE4D4;
    background-color: #A9A454;
}